
#cookiebanner {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100vw;
    border: none;
    z-index: 100;
}

#cookiebanner,
body.cookieinfo {
    text-align: center;
    line-height: 2;
    padding: 5px;
    background-color: var(--background-color-alpha-v2);
    overflow: hidden;
}

#cookiebanner p,
body.cookieinfo p {
    text-align: unset;
    padding: unset;
}

body.cookieinfo {
    width: 100vw;
}

body.cookiebanner button,
body.cookieinfo button {
    padding: 5px;
}
